::root{
    --red:#ff6060;
}


body{
    max-width: 1440px;
    margin: auto;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    @media screen and (min-width: 2560px){
        margin: 3% auto;
    }
}
