@use "../scss/variables.scss" as colors;

.grid{
    background-color: colors.$grid-background-dark;
    min-height: 45vh;
    border-radius: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.2rem;
    justify-content: space-between;

}

@media screen and (width <= 768px){
    .grid{
        justify-content: center;
        background-color: inherit;
        padding: 0;
    }
}