.apartment{
    background-image: linear-gradient(0deg, #863535,#ff6060);
    border-radius: 0.5rem;
    flex-basis: 30%;
    display: grid;
    align-items: end;
    min-height: 200px;
    min-width: 200px;
}
.apartment_subtitle{
    width: 50%;
    margin-inline-start: 0.5rem; /*gauche*/
    margin-block-end: 0.5rem;   /*bas*/
    color: white;
}

@media screen and(width <= 768px) {
    .apartment{
        flex-basis: 100%;
    }
}