.navbar{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    color: #ff6060;
    font-weight: 700;
    
    & >*:first-child{ /* >* veut dire mon enfant direct */
        margin-right: auto;
    }

    & a{
        text-decoration: none;
        color: #ff6060;
        &.active{
            text-decoration: underline;
        }
        &:hover{
            text-decoration: underline;
        }
    }
}

